@import "common";

.home-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 100px auto 75px auto;
  .search-input {
    color: #555;
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 20px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
  }
  .list-wrapper {
    padding: 0;
    width: 100%;
    margin: auto;
    padding: 15px;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
    li {
      padding: 15px;
      list-style: none;
      box-sizing: border-box;
      transition-duration: 0.3s;
      div {
        padding: 0;
      }
    }
    li:hover {
      border-radius: 5px;
      background-color: #F1F1F1;
    }
    span {
      display: block;
    }
    .info-label {
      color: #555;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      font-family: "Roboto";
    }
    .info-value {
      font-size: 16px;
      margin: 5px 0 10px 0;
      font-family: "Roboto";
    }
    .action-group {
      button {
        outline: none;
        margin-right: 5px;
      }
    }
  }
}
