.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
}

.App-title {
  margin: 0;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.password-table thead td {
  font-weight: bold;
}

.searchPassword {
  margin-bottom: 20px;
}

.inputSiteForm .form-group {
  text-align: left;
}

.inputSiteForm label {
  font-weight: bold;
}

.u-full-width {
  width: 100%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
